

#education{
    border: 1px black solid;
}

#education > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    background-color: rgb(243, 233, 233);
}

#education button{
    margin-left: auto;
    border: none;
    width: 6em;
}

#education h1{
    margin: 2%;
}

.headerDegree{
    margin: 0;
    margin-left: 2%;
}

#education h5{
    margin: 0;
    margin-left: 2%;
}


/*Match input style with the preview mode*/

#education input[type="text"]{
    margin-left: 2%;
    margin-right: 3%;
}


#education .degree{
    font-family: arial;
    font-weight: bold;
    font-size: 18.72px;
    padding: 0;
    border: 1px black solid;
}

#education .university,
#education .location,
#education .endDate{
    font-family: arial;
    font-weight: bold;
    font-size: 13.28px;
    padding: 0;
    border: 1px black solid;
}

#education .deleteEduBtn{
    background-color: rgb(194, 36, 36);
}