
#headInfo{
    border: 1px black solid
}

/*Set the layout for the edit and preview mode*/

#headInfo > div{
    display: grid;
    grid-template-columns: 20% repeat(11, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 5%;
}

#headInfo button{
    margin-left: auto;
    grid-column: 1 / 13;
    grid-row: 1;
    border: none;
    width: 6em;
}

#profilePic{
    width: 100%;
    grid-column: 1;
    grid-row: 2 / span 2;
    margin-left: 10%;
}

#nameHeader, #inputName{
    grid-column: 2 / span 11;
    grid-row: 2;
    align-self: center;
}

#positionHeader, #inputPosition{
    grid-column: 2 / span 11;
    grid-row: 3;
    align-self: center;
}

/*Match font style, padding, margin, etc for both editing and preview mode*/

#nameHeader {
    margin: 0;
    padding: 10px;
    margin-top: 10px;
}

#positionHeader{
    margin: 0;
    padding: 10px;
}

#inputName{
    border: 1px black solid;
    font-size: 32px;
    font-family: inherit;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    overflow-x: hidden;
}

#inputPosition{
    padding: 0;
    border: 1px black solid;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    padding: 10px;
}